
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*reset css ends*/



/*header start*/
body {
	padding: 30px;
}
a {
	text-decoration: none;
	width: 101px;
}
header ul {
list-style-type: none;
display: inline-block;
vertical-align: middle;
margin-left: 50px;
}

header li {
font-size: 22px;
color: #3D58A6;
font-weight: bold;
display: inline-block;
margin-right: 15px;

}




li a:hover {
	color: red;
	background-color: blue;

}

header img {

height: 30px;
display: inline-block;
vertical-align: middle;
}

/*header finish*/
/*figure start*/

figure {
	width: 1170px;
	height: 460px;
	margin-top: 30px;
	background-image: url("../img/1.jpg");
	background-repeat: no-repeat;
	margin-bottom: 140px;
}

.figuretext {
	color: white;
	font-size: 30px;
	padding-top: 145px;
	height: 30px;
	width: 375px;
	padding-left: 20px;
}
/*figure finish*/

/*content start*/

 .contentf {
 	font-size: 24px;
 	font-family: roboto;
 	display: inline-block;
 	width: 130px;
 	border-right: 1px solid #000000;
 	 height: : 27px;
 	  padding-right:  5px;
 	  font-weight: normal;
 	  text-transform: uppercase;
 	

 }
  .contentf2 {
 	font-size: 24px;
 	font-family: roboto;
 	display: inline-block;
 	width: 250px;
 height: : 18px;
 padding-left: 5px;
 font-weight: normal;
 	

 }
/*content finish*/

/*respinsive start*/
.responsive {

	width: 570px;
	height: 225px;
	background-color: #F2F2F2;
	margin-top: 35px;
	float: left;
} 
.responsive2 {

	width: 570px;
	height: 225px;
	background-color: #F2F2F2;
	margin-top: 35px;
    margin-left: 30px
}
.responsiveh{
	font-size: 22px;
	color: #3D58A6;
	text-transform: uppercase;
	margin-left: 20px;
	padding-top: 20px;
}

.imgresp{
	width: 100px;
	height: 130px;
	padding-left: 40px;
	padding-top: 17px;
	vertical-align: middle;
}
.imgrespp{
	width: 355px;
	height: 120px;
	padding-left: 60px;
	font-family:Roboto;
	font-size: 20px;
	color: black;
	float: right;
	padding-top: 30px;
		}

.imgresp2{
	width: 85px;
	height: 130px;
	padding-left: 60px;
	display: inline-block;
	padding-top: 17px;
	vertical-align: middle;

}
.imgrespp2{
	width: 355px;
	height: 120px;
	padding-left: 50px;
	display: inline-block;
	font-family:Roboto;
	font-size: 20px;
	color: black;
	vertical-align: middle;}


.articler
{
	float: left;
	}
	/*respinsive finish*/


/*footer start*/
.footerlogo{

margin-top: 68px;
    float: left;
    width: 140px;
    margin-bottom: 92px;
}

 .iconsfb {
 width: 50px;
 height: 30px;
 border-right: 2px solid blue;
 float: left; }



 .iconsy {
 width: 50px;
 height: 30px;
 float: left;
 margin-left: 30px;
 }


/*footer finish*/
